.checker{
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    
    // Delete later
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
    font-size: 1em;
    font-weight: 600;
}